<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Spam Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h2>Email Spam Prediction</h2>
    <form action="/predict" method="POST">
        <label for="email">Enter Email Text:</label><br>
        <textarea id="email" name="email" rows="8" cols="50" required></textarea><br><br>
        <input type="submit" value="Check if Spam or Ham">
    </form>
</body>
</html>
